#Projects
{
    font-size: 1rem;
    min-height: 100vh;
}

#Projects h1
{
    color: #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}

#Projects .list-of-projects
{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
    align-items: stretch;
    row-gap: 2em;
}




#Projects .project
{
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    opacity: var(--startOpacity);
    transition: var(--visible) all ease-out;
    color: var(--dark-text);
    text-align: left;
    background: var(--dark-background-darker);
}

#Projects .project img
{
    width: 100%;
    object-fit: contain;
}

#Projects .project.fade-in-left {
    transform: translateY(50%);
}
#Projects .project.fade-in-bottom {
    transform: translateY(50%);
}
#Projects .project.fade-in-right{
    transform: translateY(50%);
}

#Projects .project.visible
{
    opacity: 1;
    transform: translate(0);
}

#Projects .project h4
{
    margin-bottom: 1em;
}


#Projects .text

{
    margin: 1em 0;
}

#Projects p
{
    line-height: 20px;
}






#Projects .button{
    width: 100%;
    margin: 2em 0;
    display: flex;
    justify-content: right;
}



#Projects.dark h1
{
    color: var(--dark-text);
    border-bottom: 2px solid var(--dark-text);
}

@media (width<900px) {
    #Projects .list-of-projects
    {
        grid-template-columns: 1fr;
        gap: 2em;
    }

    #Projects .button
    {
        justify-content: center;
    }

    #Projects .project.fade-in-left {
    transform: translateX(-80%);
    }
    #Projects .project.fade-in-bottom {
        transform: translateX(80%);
    }
    #Projects .project.fade-in-right{
        transform: translateX(-80%);
    }

    #Projects .project.visible
    {
        opacity: 1;
        transform: translate(0);
    }
}

@media (width > 1440px) {
    #Projects
    {
        min-height: auto;
    }
}
