.leftnav
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    background: var(--div-background);
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 3px 0 5px black;
    z-index: 100;
}

.leftnav.hide
{
    left: -100%;
}
.leftnav.hide .menuicon
{
    position: fixed;
    left: 10px;
    top: 10px;
    color: black;
}

.leftnav.dark{
    background: var(--dark-background);
    color: var(--dark-text);
}

.leftnav .icons
{
    padding: 10px 30px 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftnav .icons .flex
{
    gap: 5px;
}

.leftnav h4
{
    margin-top: 3em;
    font-size: 0.9rem;
    padding: 15px;
    font-style: italic;
}

.leftnav ul{
    list-style: none;
}

.leftnav ul li
{
    padding: 15px 50px 15px 15px;
    margin-top: 5px;
    cursor: pointer;
}

.leftnav ul li.active
{
    background: var(--div-backgroundDarker);
    position: relative;
    box-shadow: 0 3px 3px black;
}

.leftnav.dark ul li.active
{
    background: var(--dark-background-darker);
}

.leftnav ul li.active::after
{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: var(--background-gradient);
}

.leftnav.dark ul li.active::after
{
    background: var(--background-gradient-dark)
}

.leftnav .right span
{
    margin: 0 10px;
}


@media (width < 1024px) {
    .leftnav
    {
        left: -100%;
    }
    .leftnav .menuicon
    {
        position: fixed;
        left: 10px;
        top: 10px;
        color: black;
    }

    .leftnav.hide
    {
        left: 0;
    }
    .leftnav.hide .menuicon
    {
        position: static;
        color: inherit;
    }
}
