#Skills .list
{
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
}

#Skills .list img
{
    width: 4rem;
    filter: drop-shadow(0 0 1px var(--dark-background));
}

#Skills.dark .list img
{
    filter: drop-shadow(0 0 1px silver);
}

#Skills .section h2
{
    margin: 1em 0;
    text-align: center;
}

#Skills.dark .section h2
{
    color: var(--dark-text);
}

#Skills .items
{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

#Skills .item
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 1rem;
    border-radius: 10px;
    height: 7rem;
    width: 7rem;
    background: var(--div-background);
    color: black;
}

#Skills.dark .item{
    background: var(--dark-background-darker);
    color: var(--dark-text);
}


#Skills.dark
{
    background: var(--dark-background);
}
#Skills.dark h1
{
    border-bottom: 2px solid var(--dark-text);
    color: var(--dark-text);
}


@media (width<375px) {
    #Skills img
    {
        width: 2rem;
    }

    #Skills .item
    {
        padding: 1em;
    }
}
