#About {
  background: var(--div-backgroundDarker);
  position: relative;
  /* width: 100vw; */
  max-width: 100vw;
  min-height: 100vh;
  color: black;
}

#About.dark
{
  background: var(--dark-background-darker);
  color: var(--dark-text);  
}

#About h1 {
  text-align: center;
}

#About.dark h1
{
  color: #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
}

#About .about-content{
  position: relative;
  height: 100%;
  width: 100%;
}

#About .about-content .border
{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--background-gradient);
  z-index: -1;
}

#About.dark .about-content .border{
  background: var(--background-gradient-dark);
}

#About .about-content .content
{
  background: var(--div-background);
  width: 100%;
  margin: 1em;  
}


#About.dark .about-content .content
{
  background: var(--dark-background-darker);
}

#About .about-content .content > div
{
  padding: 3em;
}

#About .content h3
{
  margin-bottom: 1em;
}

#About .content p
{
  line-height: 20px;
}




#About .caffels
{
  align-items: stretch;
  justify-content: center;
  gap: 8em;
  flex-wrap: wrap;
}

#About .caffel p{
  margin: 0.5em 0;
}

#About .split
{
 position: relative; 
}

#About .caffel .split:nth-child(3)
{
  margin-top: 2em;
} 

#About .square
{
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  top: 2px;
  background: purple;
}

#About .caffel:nth-child(3) .square
{
  background: orange;
}

#About.dark .square
{
  background: blue;
}

#About.dark .caffel:nth-child(3) .square
{
  background: green;
}

#About .description,
#About .caffel.information,
#About .caffel.education,
#About .caffel.certificates
{
  transition: var(--visible) all ease-out;
  opacity: var(--startOpacity);
}
#About .description
{
  transform: translateX(50%);
}
#About .description.visible
{
  transform: translate(0);
  opacity: 1;
}

#About .caffel.information
{
  transform: translateY(50%);
}
#About .caffel.information.visible
{
  transform: translate(0);
  opacity: 1;
}
#About .caffel.education
{
  transform: translateY(50%);
}
#About .caffel.education.visible
{
  transform: translate(0);
  opacity: 1;
}
#About .caffel.certificates
{
  transform: translateY(50%);
}
#About .caffel.certificates.visible
{
  transform: translate(0);
  opacity: 1;
}

#About .information p{
  text-align: right;
  width: 100%;
}

#About .education
{
  margin-left: 23px;
  max-width: 300px;
}

#About .education p.major
{
  font-style: italic;
}

#About .certificates p:nth-child(2)
{
  font-size: 12px;
  font-style: italic;
}

@media (width < 1024px) {
  #About .caffels
  {
    gap: 5em;
  }

  #About .caffel.information
  {
    transform: translateX(-80%);
  }
  #About .caffel.education
  {
    transform: translateX(80%);
  }
  #About .caffel.certificates
  {
    transform: translateX(-80%);
  }

}