.go-back
{
    position: absolute;
    top: 5em;
    right: 7%;
    cursor: pointer;
    background: var(--button2dark);
    z-index: 1000;
    padding: 10px 30px;
    font-size: 12px;
}

@media (max-width: 1024px) {
    .go-back
    {
        top: 2px;
        right: 2px;
        padding: 5px;
        font-size: 7px;
    }
}