footer
{
    background: var(--dark-background);
    color: var(--dark-text);
    text-align: center;
}

footer.dark
{
    background: rgb(19, 19, 19);
}

footer div
{
    width: 33%;
}

footer h3
{
    margin-bottom: 15px;
    position: relative;
}

footer table
{
    margin: auto;
}

footer table th
{
    text-align: left;
    padding: 5px 3em 5px 0;
}

footer .left, footer .right, footer .middle
{
    opacity: var(--startOpacity);
    transition: var(--visible) all ease-out;
}
footer.visible .left, footer.visible .right, footer.visible .middle
{
    opacity: 1;
    transform: translate(0);
}

footer .left
{
    transform: translateX(-100%);
}
footer .middle
{
    transform: translateY(100%);
}
footer .right
{
    transform: translateX(100%);
}




footer .right ul{
    list-style: none;
    text-align: center;
}

footer .right ul li
{
    text-align: center;
     padding: 5px;
}

footer table td
{
    text-align: right;
}

footer .middle
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (width < 768px) {
    #Footer
    {
        padding: 5em 0;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    #Footer div
    {
        width: 100%;
    }

    footer .left
    {
        transform: translateX(-100%);
    }
    footer .middle
    {
        transform: translateX(100%);
    }
    footer .right
    {
        transform: translateX(-100%);
    }
}