:root {
  --bg-light: rgb(52, 66, 107); 
  --bg-gradient-top: linear-gradient(#272c4c, #32395ba0 70%);
  --bg-gradient-topLoader: linear-gradient(#16192b, #161926 70%);

  --bg-gradient-second: linear-gradient(
        #32395ba0 1%,
        var(--bg-light)
    );
  --bg-card: rgba(187, 187, 187, 0.1);
  --border-card: 1px solid rgba(255, 255, 255, 0.06);
  --border-card2: 1px solid rgba(255, 255, 255, 0.06);
  --bg-card3: rgba(28, 28, 28, 0.8);
  --nebula: radial-gradient(circle, rgba(174, 110, 46, 0.3) 0%, rgba(214, 5, 54, 0.2) 50%, transparent 80%);

  --accent: #f97316;
  --accent2: #c35d15;
  --upper-icon-bg: rgba(208, 105, 49, 0.1);
  --text-gradient: linear-gradient(to right, #f59e0b, #fbbf24);


  --grey-text-light: rgba(255, 255, 255, 0.4);
  --grey-text-strong: rgba(255, 255, 255, 0.8);

  --orbit-center: radial-gradient(circle, rgba(34, 211, 238, 0.8) 0%, rgba(129, 140, 248, 0.3) 30%, rgba(167, 139, 250, 0.1) 60%, rgba(124, 58, 237, 0) 100%);
  --pulse: radial-gradient(circle, rgba(52, 211, 153, 0.8) 0%, rgba(99, 102, 241, 0.3) 25%, rgba(52, 211, 153, 0.08) 55%, rgba(124, 58, 237, 0) 100%);

  
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  
  --button-gradient: linear-gradient(135deg, #ea580c 0%, #b91c1c 100%);
  --button-gradient-hover: rgba(185, 28, 28, 0.45);
  --button-gradient-shadow: rgba(185, 28, 28, 0.25);
  
  --cube-border-normal: rgba(34, 211, 238, 0.7);
  --cube-bg-normal: rgba(10, 17, 40, 0.95);
  --cube-shadow-normal: inset 0 0 12px rgba(34, 211, 238, 0.4), 0 10px 25px rgba(0, 0, 0, 0.7), 0 0 30px rgba(6, 182, 212, 0.3);
  --cube-border-flash: rgba(255, 255, 255, 0.95);
  --cube-bg-flash: rgba(6, 182, 212, 0.95);
  --cube-shadow-flash: inset 0 0 20px rgba(255, 255, 255, 0.8), 0 4px 30px rgba(34, 211, 238, 0.8), 0 0 40px rgba(34, 211, 238, 0.6);

}  

.dark-theme {
  --bg-light: #1c1a27;
  --bg-gradient-top: linear-gradient(#160e20, #141026 70%);
  --bg-gradient-topLoader: linear-gradient(#160e20, #141026 70%);
  --bg-gradient-second: linear-gradient(#141026 1%, var(--bg-light));

  --text-gradient: linear-gradient(135deg, #136dbc 40%, #6b21a8 100%);
  --button-gradient: linear-gradient(135deg, #136dbc 40%, #6b21a8 100%); 
  --button-gradient-hover: rgba(47, 139, 220, 0.45);
  --button-gradient-shadow: rgba(47, 139, 220, 0.25);

  --nebula: radial-gradient(circle, rgba(27, 9, 56, 0.722) 0%, rgba(17, 45, 76, 0.503) 50%, transparent 80%);
  --bg-card: rgba(0, 0, 0, 0.6);
  --border-card: 1px solid rgba(255, 255, 255, 0.1);
  --border-card2: 1px solid rgba(255, 255, 255, 0.1);
  --bg-card3: rgba(15, 15, 15, 0.9);
  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;

  --accent: #00f2fe;
  --accent2: #00868d;
  --upper-icon-bg: rgba(49, 84, 208, 0.1);


  --cube-border-normal: rgba(0, 242, 254, 0.95);
  --cube-bg-normal: rgba(20, 10, 45, 0.98);
  --cube-shadow-normal: inset 0 0 20px rgba(0, 242, 254, 0.8), 0 15px 35px rgba(0, 0, 0, 0.9), 0 0 50px rgba(0, 190, 240, 0.6);
  --cube-border-flash: rgba(255, 255, 255, 0.98);
  --cube-bg-flash: rgba(0, 242, 254, 0.98);
  --cube-shadow-flash: inset 0 0 30px rgba(255, 255, 255, 0.9), 0 5px 40px rgba(0, 242, 254, 1.0), 0 0 60px rgba(0, 242, 254, 0.8);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: black;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg-light);
  color: var(--text-primary);
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}