:root {
  --bg-light: rgb(52, 66, 107); 
  --bg-gradient-top: linear-gradient(#16192b, #0f111aa0 70%);
  --bg-gradient-bottom: linear-gradient(#0f111aa0 70%, #16192bc2);

  --bg-gradient-second: linear-gradient(
        #0f111aa0 1%,
        var(--bg-light)
    );

  --bg-gradient-second2: linear-gradient(
        var(--bg-light) 1%,
        #0f111aa0
    );

  --bg-card: rgba(187, 187, 187, 0.1);
  --border-card: 1px solid rgba(255, 255, 255, 0.06);
  
  --bg-card2: linear-gradient(rgba(221, 221, 221, 0.1), rgba(28, 28, 28, 0.7));
  --border-card2: 1px solid rgba(255, 255, 255, 0.06);

  --bg-card3: rgba(28, 28, 28, 0.7);

  --orange: #ff6e20;
  --text-warm: linear-gradient(to right, #f59e0b, #fbbf24);

  --cyan: #00f2fe;
  --box-shadow-cyan: 0 0 3px rgba(0, 242, 254, 0.6), inset 0 0 15px rgba(0, 242, 254, 0.4);

  --grey-text-light: rgba(255, 255, 255, 0.4);
  --grey-text-strong: rgba(255, 255, 255, 0.8);


  --orbit-center: radial-gradient(circle, rgba(34, 211, 238, 0.8) 0%, rgba(129, 140, 248, 0.3) 30%, rgba(167, 139, 250, 0.1) 60%, rgba(124, 58, 237, 0) 100%);
  --pulse: radial-gradient(circle, rgba(52, 211, 153, 0.8) 0%, rgba(99, 102, 241, 0.3) 25%, rgba(52, 211, 153, 0.08) 55%, rgba(124, 58, 237, 0) 100%);

  --cube-border-normal: rgba(34, 211, 238, 0.7);
  --cube-bg-normal: rgba(10, 17, 40, 0.95);
  --cube-shadow-normal: inset 0 0 12px rgba(34, 211, 238, 0.4), 0 10px 25px rgba(0, 0, 0, 0.7), 0 0 30px rgba(6, 182, 212, 0.3);
  --cube-border-flash: rgba(255, 255, 255, 0.95);
  --cube-bg-flash: rgba(6, 182, 212, 0.95);
  --cube-shadow-flash: inset 0 0 20px rgba(255, 255, 255, 0.8), 0 4px 30px rgba(34, 211, 238, 0.8), 0 0 40px rgba(34, 211, 238, 0.6);


  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  color: black;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg-light);
  color: #ffff;
}



