.details
{
    width: 100%;
    min-height: 100vh;
    padding: 5% 20%;
    border: 2px solid black;
}

.details h4.link
{
    margin-top: 1em;
}

.details h4.link a
{
    font-weight: normal;
}

.details .top
{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.details .top h3.status
{
    color: rgb(135, 0, 0);
    text-shadow: 0 0 1px black;
    font-weight: normal;
}

.details.dark
{
    background: var(--dark-background-light);
}

.details hr
{   
    background: var(--background-gradient);
    height: 5px;
    margin-top: 0.5em;
}

.details.dark hr
{
    background: var(--background-gradient-dark);
}

.details h3
{
    font-size: 1rem;
    margin: 0.25em 0;
}

.details.dark h3{
    text-shadow: 0 0 1px black;
}

.details .section
{
    margin-top: 2em;
}

.details .technology
{
    margin-top: 10px;
    position: relative;
    padding-left: 20px;
}

.details .technology::before
{
    content: '';
    position: absolute;
    background: var(--background-gradient);
    width: 10px;
    height: 10px;
    top: 4px;
    left: 0;
}

.details.dark .technology::before
{
    background: var(--background-gradient-dark);
    box-shadow: 0 0 2px white;
}

.details .sec
{
    margin-top: 1em;
}

.details .sec h4
{
    margin-top: 2em;
    color: var(--dark-background);
    font-weight: 600;
    font-style: italic;
}

.details.dark .sec h4
{
    color: black;
}

.details .sec h4:first-child
{
    margin-top: 1em;
}

.details img
{
    width: 700px;
}

.details img.phone
{
    width: 300px;
}

.details summary
{
    cursor: pointer;
    margin: 0.5em;
    width: 100%;
    padding: 0 1em;
}

.details .images
{
    margin: 2em 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.details .images.mobile img
{
    width: 300px;
}

.details details
{
    position: relative;
    background: var(--background-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--div-background);
    box-shadow: 3px 3px 5px var(--button2);
}

.details.dark details
{
    background: var(--background-gradient-dark);
    color: var(--dark-text);
    box-shadow: 3px 3px 5px var(--button2dark);
}

@media (width<1024px) {
    .details
    {
        padding: 3em;
    }

    .details .images
    {
        margin: 0;
    }

    .details img{
        width: 100%;
    }
}