#MainContent{
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition: var(--animation) all linear;
    justify-content: space-between;
}

#MainContent.dark
{
    background: var(--dark-background);
}

#MainContent .left
{
    width: 50%;
}

#MainContent .left section{
    text-transform: uppercase;
    letter-spacing: 1px;
}

#MainContent .left h4{
    color: rgb(61, 61, 61);
    font-weight: normal;
}

#MainContent.dark .left h4
{
    color: var(--dark-text);
}

#MainContent .left h1{
    font-size: 2em;
    margin-bottom: 0.5em;
    letter-spacing: 0.1px;
    text-shadow: 0 0 1px rgb(59, 3, 108);
}

#MainContent .left h1 span{
    animation: wave 1s infinite;
}
@keyframes wave {
    0%,100%{transform: translate(0px);}
    50%{transform: translate(-8px);}
}

#MainContent.dark .left h1
{
    color: #f0f0f0;
    text-shadow: 0 0 3px rgb(137, 9, 249);
}



#MainContent .left h3{
    color: rgb(59, 3, 108);
    font-weight: normal;
}

#MainContent.dark .left h3
{
    color: rgb(172, 78, 255);
}

#MainContent .left .icons{
    margin: 2em 0;
}


#MainContent .left .icons a:hover
{
    scale: 0.97;
    filter: drop-shadow(1px 1px 2px black);   
}

#MainContent.dark .left .icons a
{
  filter: drop-shadow(1px 1px 1px silver);  
}

#MainContent .left .icons a img{
    width: 25px;
    height: 25px;
}





#MainContent .right
{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#MainContent .right-background
{
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--background-gradient);
    border-radius: 50% 0 0 50%;
    transform: translateY(-20%);
    z-index: -1;
}

#MainContent .right .image
{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: -10em;
    margin-top: auto;
}

#MainContent .right img
{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


@keyframes moveBackground {
    0%
    {
        right: 5px;
    }

    50%{
        right: 30px;
    }

    100%
    {
        right: 5px;
    }
}

#MainContent .button
{
    width: fit-content;
}

#MainContent.dark .right-background
{
    background: var(--background-gradient-dark);
}


@media (min-width: 2000px) {
    #MainContent .left h1 {
        font-size: 3.5em;
    }

    #MainContent .left h3 {
        font-size: 2em;
    }

    #MainContent .left h4 {
        font-size: 1.5em;
    }

    #MainContent .left .icons a img {
        width: 35px;
        height: 35px;
    }
}

@media (width<1024px) {
    #MainContent
    {
        flex-direction: column-reverse;
        gap: 0;
        height: auto;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    #MainContent .left
    {
        width: 100%;
        text-align: center;
    }
    #MainContent .icons,
    #MainContent .button
    {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #MainContent .right
    {
        position: relative;
        width: 300px;
        height: fit-content;
        padding: 0;
    }

    #MainContent .right-background
    {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        transform: none;
    }

    #MainContent .image
    {
        position: relative;
        /* background: red; */
        margin: 0 !important;
        padding: 0;
        height: 100% !important;
    }

    #MainContent h4
    {
        font-size: 0.75rem;
    }

    #MainContent h3
    {
        font-size: 1rem;
    }

    #MainContent h1{
        font-size: 2rem;
    }
}